<html>
<title>CONTATTI</title>
<head>
	<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>Example of Bootstrap 3 Fixed Navbar</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="css/menu.css">
<link rel="stylesheet" type="text/css" href="css/contatti.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js"></script>

<style type="text/css">

	
</style>
</head>
<body>
<div class="fixed_menu">
        <div id="formazione_2_bottom" class="img-responsive fixed-top">
            <img src="img/fascia_azzurra_top.jpg">
        </div>
        
        <div class="menu_bar menu_bar_fixed_top">
            <ul class="menu_title ">
                <li><a href="/roro">Ro&Ro</a></li>
                <li><a href="/">Formazione</a></li>
                <li>
                    <div class="dropdown pull-right">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Corsi<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/corsi/manageriale">manageriale gestionale</a></li>
                                <li><a href="/corsi/sicurezza">sicurezza</a></li>
                                <li><a href="/corsi/professioni">professioni</a></li>
                            </ul>
                    </div>
                </li>
                <li>in store promotion</li>
                <li><a href="/contatii">contatii</a></li> 
            </ul>

            
        </div>     
        <div class="roro_mark roro_fixed_top">
            <img src="img/LOGO_RO_RO_ROSSO.png">
        </div>
</div>	


<div align="center" class="contatti_1">
	<p align="center">CONTATTACI!</p>
	<img align="center" src="img/4_contatti/contattaci.png">
</div>
<div class="contatti_2">
	<p align="center">
		telefono 02 96480885 - fax 02 96480822
	</p>
	<p align="center">
		mail info@roeroservizi.com 
	</p>
	<p align="center">
		via Centro Industriale Europeo 28 - 22078 Turate CO
	</p>
</div>
<div class="contatti_3" class="img-responsive">
	
	<img class="map" src="img/4_CONTATTI/Schermata.png">
	<img class="locator" src="img/4_contatti/icona_posizione.png">

    <div id="formazione_2_bottom" class="img-responsive">
        <img class="res_img" src="img/4_contatti/fascia_triangoli_rosa.png">
    </div>

</div>

<div class="footer">

 
    <div id="formazione_2_bottom" class="img-responsive">
        <img src="img/fascia_azzurra_top.jpg">
    </div>
 
    
    <div class="footer_bottom">
        <div class="">
            <img class="footer_mark img-responsive" src="img/LOGO_RO_RO_ROSSO_bottom.png">
        </div>
        <img class="tel-icon" src=img/icona_telefono.png>
        <img class="email-icon" src=img/icona_mail.png>
        <img class="pos-icon" src=img/icona_posizione.png>
        <div class="footer_reg">
            <p>C.F.E P.IVA E REG.IMPRESE</p>
            <p>03423910136 - REA CO - 313987</p>
        </div>
        <div class="footer_centro">
            <p>via Centro Industriale Europeo 28</p>
            <p>22078 Turate C</p>
        </div>
        <div class="footer_tel">
            <p>T 02 96480885</p>
            <p>F 02 96480822</p>
        </div>

        <div class="footer_info">
            <p>info@roeroservizi.com</p>
        </div>
    </div>
</div>

</body>
</html>